<center><h2>Editar <%= @servicio.nombre %> </h2></center>

<%= render 'form' %>


<div class="btn btn-info"><%= link_to 'Ver', @servicio %></div>
<div class="btn btn-danger"><%= link_to 'Cancelar', servicios_path %></div>
